.main{
    /* padding: 25px; */
    background: var(--background);
    color: var(--on-background);
  }
  .innerdiv[_ngcontent-wwd-c58] {
    /* background: var(--primary); */
    color: var(--on-primary);
    background-color: #1c9dea;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
}
.innerdiv.d-flex.align-items-center {
  padding: 7px 0;
}

  h1{
    height: auto;
    text-align: center;
    margin: 0;
    background:rgb(253, 252, 252);
    color: var(--on-primary);
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    top: 0px;
    margin: 0 5px;
}
  .switch input { 
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    transition: .4s;
    border: 1px solid #ddd;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1c9dea;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  span.form-inline.languageSelect {
    margin-left: 10px;
  }
  .innerdiv span{
    color: #fff;
  }
   