<div class="login-page1" style="height: calc(100vh - 55px);">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="login-contain-main">
          <div class="left-page">
            <div class="login-content">
              <div class="login-content-header"><img routerLink="/" class="image-fluid"
                  src="assets/img/landing-logo.png" alt="images"></div>
              <h3>Hello We are Web Chat Tool</h3>
              <h4>Please login to your guest account.</h4>
              <form class="form1" [formGroup]="guestLoginForm">
                <div class="form-group">
                  <label class="col-form-label" for="inputEmail3">Email Address</label>
                  <input class="form-control" id="inputEmail3" type="email" formControlName="email"
                    placeholder="Enter Email Address">
                  <div
                    *ngIf="(isSubmmitted && ((guestLoginForm.get('email')?.invalid && guestLoginForm.get('email')?.touched) || guestLoginForm.get('email')?.dirty))">
                    <small *ngIf="guestLoginForm.get('email')?.errors?.required" class="text-danger">Email
                      is
                      required</small>
                    <small *ngIf="guestLoginForm.get('email')?.errors?.pattern" class="text-danger">Please
                      provide
                      a valid email address</small>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="inputPassword3">User Name</label><span> </span>
                  <input class="form-control" id="inputPassword3" formControlName="userName" type="text"
                    placeholder="Enter User Name">
                  <div
                    *ngIf="(isSubmmitted && ((guestLoginForm.get('userName')?.invalid && guestLoginForm.get('userName')?.touched) || guestLoginForm.get('userName')?.dirty))">
                    <small *ngIf="guestLoginForm.get('userName')?.errors?.required" class="text-danger">User name is
                      required</small>
                  </div>
                </div>
                <!-- <div class="form-group">
                    <div class="rememberchk">
                      <div class="form-check">
                        <input class="form-check-input" id="gridCheck1" type="checkbox">
                        <label class="form-check-label" for="gridCheck1">Remember Me.</label>
                        <a  routerLink="/ForgotPassword"><h6>Forgot Password</h6></a>
                      </div>
                    </div>
                  </div> -->
                <div class="d-flex align-items-center">
                  <div class="form-group mr-5">
                    <div class="buttons"><button type="button" class="btn button-effect btn-signup"
                        [disabled]="guestLoginForm.invalid" (click)="guestLogin(guestLoginForm.value)">Guest
                        Login</button> </div>
                  </div>

                  <!-- <p style="flex:1; text-align:center;">OR</p> -->

                  <div class="form-group ml-auto">
                    <div class="buttons">
                      <a routerLink="/Signup" class="btn btn-primary button-effect button-border-white">SignUp</a>
                    </div>

                  </div>
                </div>

              </form>
              <!-- <div class="line">
                  <h6>OR Connect with</h6>
                </div>
                <div class="medialogo">
                  <ul>
                    <li><a class="icon-btn btn-danger button-effect" href="#"><i class="fa fa-google"></i></a></li>
                    <li><a class="icon-btn btn-primary button-effect" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="icon-btn btn-facebook button-effect" href="#"><i class="fa fa-facebook-f"></i></a></li>
                  </ul>
                </div> -->
              <div class="termscondition">
                <h4 class="mb-0"><span>*</span>Terms and condition<b>&amp;</b>Privacy policy</h4>
              </div>
            </div>
          </div>
          <div class="right-page">
            <div class="right-login animat-rate">
              <div class="animation-block">
                <div class="bg_circle">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="cross"></div>
                <div class="cross1"></div>
                <div class="cross2"></div>
                <div class="dot"></div>
                <div class="dot1"></div>
                <div class="maincircle"></div>
                <div class="top-circle"></div>
                <div class="center-circle"></div>
                <div class="bottom-circle"></div>
                <div class="bottom-circle1"></div>
                <div class="right-circle"></div>
                <div class="right-circle1"></div>
                <!-- <img class="heart-logo" src="assets/img/signin/5.png" alt="login logo"/> -->
                <!-- <img class="has-logo" src="assets/img/signin/4.png" alt="login logo"/> -->
                <!-- <img class="login-img" src="assets/img/signin/1.png" alt="login logo"/> -->
                <!-- <img class="boy-logo" src="assets/img/signin/6.png" alt="login boy logo"/> -->
                <!-- <img class="girl-logo" src="assets/img/signin/7.png" alt="girllogo"/> -->
                <img class="cloud-logo" src="assets/img/signin/2.png" alt="login logo" />
                <img class="cloud-logo1" src="assets/img/signin/2.png" alt="login logo" />
                <img class="cloud-logo2" src="assets/img/signin/2.png" alt="login logo" />
                <img class="cloud-logo3" src="assets/img/signin/2.png" alt="login logo" />
                <img class="cloud-logo4" src="assets/img/signin/2.png" alt="login logo" />
                <img class="boy-logo" src="assets/img/signin/illustrator1.png" alt="login logo" />
                <!-- <img class="has-logo1" src="assets/img/signin/4.png" alt="login logo"/> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- [A-Z]{3}[ABCFGHLJPTF]{1}[A-Z]{1}[0-9]{4}[A-Z]{1} ------ PAN CARD VALIDATION -->