<!-- header start //-->
<app-header></app-header>
  <!-- slider start //-->
  <section class="slider-block">
    <div class="custom-container">
      <div class="row">
        <div class="col-12">
          <div class="slider-main">
            <div class="slider-contain">             
              <h1>{{ 'LANDING.title' | translate}}</h1>
              <h4> <span>Desktop App </span>– Easy to use our chat app, Attractive and<br/> clean design, with many Features Dark  & light, Recent Chat And many more.......</h4>
              <div class="downlaod">
                <div class="footer-btn"><a class="btn active" href="#"><i class="fa fa-apple"></i></a><a class="btn mt-0 ml-3" href="#"><i class="fa fa-play"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><img class="img-fluid chat-slide" src="assets/img/bannerImage.png" alt="inner"/><img class="img-fluid inner1" src="assets/img/1.png" alt="inner1"/>
  </section>
  <!-- slider end //-->
  <!--app  design start //-->
  <section class="section-py-space app-design-block" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="landing-title">
            <div>
              <h1>about app</h1>
            </div>
            <div class="sub-title">
              <div>
                <h4>Exclusive Features</h4>
                <h2>We provide best feature for app design and coding</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row app-code-block">
        <div class="col-md-4">
          <div class="app-design-main"> 
            <div class="icon-box"><img src="assets/img/wand.png" /></div><img class="img-fluid app-hover" src="assets/img/hover.png" alt="app hover img"/>
            <div class="contant-box">
              <h2>latest design</h2>
              <h4>Easy to use our chat app, Attractive Features Dark & light.</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="app-design-main hover">
            <div class="icon-box"><img src="assets/img/wand.png" /></div><img class="img-fluid app-hover" src="assets/img/hover.png" alt="app hover img"/>
            <div class="contant-box">
              <h2>fully responsive</h2>
              <h4>Easy to use our chat app, Attractive Features Dark & light. </h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="app-design-main"> 
            <div class="icon-box"><img src="assets/img/wand.png" /></div><img class="img-fluid app-hover" src="assets/img/hover.png" alt="app hover img"/>
            <div class="contant-box">
              <h2>clean code</h2>
              <h4>Easy to use our chat app, Attractive Features Dark & light.</h4>
            </div>
          </div>
        </div>
        <div class="col-12 text-center"><a class="btn app-btn" href="#">view more  </a></div>
      </div>
    </div>
  </section>
  <!--app  design end //-->
  <!-- team-work start //-->
  <section class="section-py-space team-work-main" id="team">
    <div class="custom-container">
      <div class="row team-block">
        <div class="col-md-6">
          <div class="team-work-content">
            <div>
              <div class="ply-main">
                <div class="ply-content">
                  <div class="ply-sub-content"><i class="fa fa-play"></i></div>
                </div>
                <h3> See Our <span>Team work</span></h3>
              </div>
              <h1>Efficient communication for every enterprise</h1>
              <h4>Big companies save time with Slack by securely collaborating across teams, departments, offices and countries.</h4><a class="btn pricing-btn" routerLink="/guest-user"> Chitchat as a Guest User</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- <div class="team-work-content"><img class="img-fluid team-main" src="assets/img/teamwork/5.png" alt="chit-chat"/></div> -->
          <img src="assets/img/graphic2.png" style="width: 100%;" />
        </div>
      </div>
    </div>
    <!-- <img class="img-fluid team1" src="assets/img/teamwork/1.png" alt="team-work"/>
    <img class="img-fluid team2" src="assets/img/teamwork/2.png" alt="team-work"/>
    <img class="img-fluid team3" src="assets/img/teamwork/3.png" alt="team-work"/>
    <img class="img-fluid team4" src="assets/img/teamwork/4.png" alt="team-work"/>
    <img class="img-fluid team5" src="assets/img/teamwork/6.png" alt="team-work"/> -->      
  </section>
  <!-- team-work end //-->
  <!--subscribe update start//-->
  <section class="section-pb-space subscribe-main" id="subscribe">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="landing-title">
            <div>
              <h1>subscribe</h1>
            </div>
            <div class="sub-title">
              <div>
                <h4>Subscribe Newsletter</h4>
                <h2>Subscribe to receive updates</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-container">
      <div class="row subscribe-block">
        <div class="col-md-6">
          <div class="subscribe-content"><img class="img-fluid" src="assets/img/letter/1.png" alt="subscribe-landing"/></div>
        </div>
        <div class="col-md-6">
          <div class="subscribe-content">
            <div>
              <h1>Subscribe our Newsletter get new update.</h1>
              <form class="form-inline">
                <input class="form-control" placeholder="your name"/>
                <input class="form-control" placeholder="email"/>
                <button class="btn">Submit</button>
              </form>
              <h4>What’s next in Web Chat Tool?<span>&nbsp; Learn More</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe-back-content"><img class="img-fluid subscribe-img1" src="assets/images/landing/subscribe/2.png" alt="subscribe-back-img"/></div>
  </section>
  <!--subscribe update end//-->
  <app-footer></app-footer>