<div class="login-page1" style="height: calc(100vh - 55px);">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="login-contain-main">
            <div class="left-page">
              <div class="login-content">
                <div class="login-content-header"><img class="image-fluid" src="assets/img/landing-logo.png" alt="images"></div>
                <h3>Forgot Password?</h3>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quis voluptatibus quia aliquid perferendis quas.</h4>
                <form class="form1">
                  <div class="form-group">
                    <label class="col-form-label" for="inputPassword1">Email I'd</label><span> </span>
                    <input class="form-control" id="inputPassword1" type="email" #email placeholder="enter email id">
                  </div>
                  <div class="form-group">
                    <div class="buttons"><a class="btn button-effect btn-signup" (click)="forgotPassword(email.value)">Submit</a></div>
                  </div>
                </form>
              </div>
            </div>
            <div class="right-page">
              <div class="right-login animat-rate">
                <div class="animation-block">
                  <div class="bg_circle">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="cross"></div>
                  <div class="cross1"></div>
                  <div class="cross2"></div>
                  <div class="dot"></div>
                  <div class="dot1"></div>
                  <div class="maincircle"></div>
                  <div class="top-circle"></div>
                  <div class="center-circle"></div>
                  <div class="bottom-circle"></div>
                  <div class="bottom-circle1"></div>
                  <div class="right-circle"></div>
                  <div class="right-circle1"></div>                    
                  <!-- <img class="heart-logo" src="assets/img/signin/5.png" alt="login logo"/> -->
                  <!-- <img class="has-logo" src="assets/img/signin/4.png" alt="login logo"/> -->
                  <!-- <img class="login-img" src="assets/img/signin/1.png" alt="login logo"/> -->
                  <!-- <img class="boy-logo" src="assets/img/signin/6.png" alt="login boy logo"/> -->
                  <!-- <img class="girl-logo" src="assets/img/signin/7.png" alt="girllogo"/> -->
                  <img class="cloud-logo" src="assets/img/signin/2.png" alt="login logo"/>
                  <img class="cloud-logo1" src="assets/img/signin/2.png" alt="login logo"/>
                  <img class="cloud-logo2" src="assets/img/signin/2.png" alt="login logo"/>
                  <img class="cloud-logo3" src="assets/img/signin/2.png" alt="login logo"/>
                  <img class="cloud-logo4" src="assets/img/signin/2.png" alt="login logo"/>
                  <img class="boy-logo" src="assets/img/signin/illustrator1.png" alt="login logo"/>
                  <!-- <img class="has-logo1" src="assets/img/signin/4.png" alt="login logo"/> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>